.avatar {
  width: 30px;
  border-radius: $border-radius-moy;
}
.avatar-large {
  width: 50px;
  border-radius: $border-radius-moy;
}
.avatar-bordered {
  width: 30px;
  border-radius: $border-radius-moy;
  box-shadow: $box-shadow;
  border: $border-base;
}
.avatar-square {
  width: 30px;
  border-radius: 0px;
  box-shadow: $box-shadow;
  border: $border-base;
}

.avatar-profil {
  width: 80px;
  border-radius: $border-radius-moy;
}
